.more-info-container {
    background-color: $main-color;
    width: 100%;
    padding: 3rem 0;


    .info-group-wrapper {
        margin: auto;
        max-width: 1200px;

        h2 {
            color: $btn-color-dark;
            padding: 2rem 1rem;
            font-size: 1.4rem;
            font-family: $font-family-poppins-bold;
            text-align: center;
        }

    }

    .info-group {
        padding: 0 1rem .5rem 1rem;
    }

    .info-title {
        padding: 1rem 2rem;
        background: $bg-dark;

        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 2.6rem;
            color: $main-color;

        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .info-content {
        padding: 1.5rem;
        background: $bg-light-darker;
        border: 2px solid $btn-color-dark;
        margin-top: .5rem;
        border-radius: 20px;
        display: none;

        p {
            //width: 80%;
            margin-bottom: 1rem;
            font-size: 1.1rem;
            line-height: 1.6rem;

            a {
                color: $main-color;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .displayBlock {
        display: block;
    }


}

.wave-yellow-reverse {
    margin-bottom: -3px;
}

.wave-yellow {
    margin-top: -3px;
    width: 103%;
    overflow: hidden;
}