.about {
    margin-top: 2rem;
}

.about-container {
    //max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 2rem;
    overflow: hidden;
    grid-template-areas:
    'aboutLeft'
     'aboutRight'
     'btnGroup'
    'waveYellowReverse '
    'moreInfo '
    'waveYellow ';
}
.wave-yellow {
    grid-area: waveYellow;
}
.wave-yellow-reverse {
    grid-area: waveYellowReverse;
}
.btn-group {
    grid-area: btnGroup;
}
.more-info-container {
    grid-area: moreInfo;
}

.about-left {
    grid-area: aboutLeft;
    padding: 2rem;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.about-img {
    width: 265px;
    height: 265px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    border-radius: .25rem;
    
}

.about-left img {
    width: 250px;
    height: 250px;
    z-index: 1;
    background: rgb(0, 0, 0);
    border-radius: .25rem;
    object-fit: cover;
}

.about-img::after {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: $main-color;
    opacity: .5;
    border-radius: .25rem;
    z-index: 0;
    top: -30px;
    left: -30px;
}

.about-img::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: $main-color;
    opacity: .5;
    border-radius: .25rem;
    z-index: 0;
    bottom: -30px;
    right: -30px;
}

.about-right {
    grid-area: aboutRight;
    overflow: hidden;
    .about-section {
        padding: 1rem;
    }
    strong {
        color: $main-color;
        font-size: 1.1rem;
    }
    h3 {
        font-size:2rem ;
       
    }

    p {
        margin: 1.5rem 0;
        font-size: 1.1rem;
        line-height: 1.6rem;
        letter-spacing: 1px;
    }
}
.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 6rem 0 3rem;
    .about-btn, .btn-secund {
        width: 80%;
    }
}